<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MyDbConnection"
			 connectionString=" Data Source=LAPTOP-CSC78M4S\SQLEXPRESS;Initial Catalog=IT13PROJECT;Integrated Security=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
	
</configuration>